

<main class=" p-20 ">
  <div class="header flex justify-around">
    <h1 class="text-white w-10/12  text-center text-4xl pl-16">My Stocks</h1>

    <img mat-button
    (click)="openModalNewStock()" srcset="assets/Stock_icon_images/Plus_sign_icon_3x.png"
    class="w-10 h-10 cursor-pointer">

  </div>

  @for (symbolData of stock; track symbolData.symbol) {
    <div class=" mt-10 text-white w-full flex border-b-2 border-gray-500 pr-4 pl-4 pb-2">

      <div class="flex justify-between w-1/2 pr-64">
        <span class="">{{symbolData.symbol}}</span>
        <span class="text-left ml-4">{{symbolData.price | number:'1.0-2'}}</span>
      </div>
      <div class="w-1/2 flex self-end justify-end">
        <img  class="w-4 h-5" srcset="assets/Stock_icon_images/Up_arrow_icon_3x.png" alt="" >
        <span class="w-10 mr-16">{{symbolData.high | number:'1.0-2'}}</span>
        <img  class="w-4 h-5" srcset="assets/Stock_icon_images/Down_arrow_icon_3x.png" alt="" >
        <span class="w-10">{{symbolData.low | number:'1.0-2'}}</span>
      </div>

  </div>
  } @empty {
    <h2 class="text-white text-center">Empty list of stock symbols</h2>
  }

</main>

<router-outlet />
